{% extends "main/index.html" %}

{%block name %}
<h3>List of Specializations<h3>
  <p> ____________________________________</p>
{%endblock%}

{% block content%}
    <div>
      <h4>Specializations</h4>
      <p> ###</p>
      {% for el in main %}
        <div>
          <p> Id: {{el.id }}</p>
          <p> Name: {{el.name }}</p>
          {% if request.user.is_staff %}
          <a href="http://127.0.0.1:8000/{{el.id}}/specialization_update">Изменить /</a> 
          <a href="http://127.0.0.1:8000/{{el.id}}/specialization_delete">Удалить</a>
          {% endif %}
          <p> ___________________________</p>
        </div>
      {% endfor %}
    </div>
{% endblock%}


